<div class="row">
  <div class=" text-center">
    <ul class="list-group">
      <li (click)="aplicarsonido(1)" class="list-group-item " style="background-color:red ;"></li>
      <li (click)="aplicarsonido(2)" class="list-group-item " style="background-color:orange ;"></li>
      <li (click)="aplicarsonido(3)" class="list-group-item " style="background-color: yellow;"></li>
      <li (click)="aplicarsonido(4)" class="list-group-item " style="background-color: green;"> </li>
      <li (click)="aplicarsonido(5)" class="list-group-item " style="background-color: teal ;"></li>
      <li (click)="aplicarsonido(6)" class="list-group-item " style="background-color: blue ;"></li>
      <li (click)="aplicarsonido(7)" class="list-group-item " style="background-color: purple ;"></li>
    </ul>
  </div>
</div>


<!-- 
<audio controls>
  <source src="../assets/sonidos/note1.wav" type="audio/ogg">
 
Your browser does not support the audio element.
</audio> -->